<div class="header">
  <a href="{{ path('homepage') }}" class="brand" target="blank">ISAM</a>
  <a class="toggle-nav open"><span></span></a>
  <a href="{{ path('fos_user_security_logout') }}" class="disc">Se déconnecter</a>
</div>