<div class="sidenav open">
  <a href="{{ path('admin_bio_show') }}">Biographie</a>
  <a href="{{ path('admin_galerie_list') }}">Galerie</a>
  <!--a href="">Activités</a-->
  <a href="{{ path('admin_blog_list') }}">Blog</a>
</div>