{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="articles clearfix">
  {% for article in blog %}
    <div class="article col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{article.title}}</h3>
        </div>
        <div class="panel-body">
          <img src="{{ asset('/upload/blog/' ~ article.image) }}" />
            {{article.description|raw}}
          <a href="{{ path('blog_view', {'id': article.id}) }}">Lire la suite</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}