{% extends 'AdminBundle::base.html.twig' %}
{% block body %}
<div class="background-cover-index"  force="true"> 
  <div class="isam">
    <p class="name">Isabelle Marandon</p><br /> 
    <p class="painter">Artiste peintre</p>
  </div>
</div>
{% endblock %}