.articles {
  .article {
    .panel-default {
      min-height: 110px;
      border-color: #000;
      >.panel-heading {
        background-color: #1d558c;
        color: #fff;
      }
      .panel-body {
        img {
          width: 100%;
        }
        a {
          bottom: 20px;
          color: #2535a5;
          position: absolute;
          right: 20px;
        }
      }
    }
  }
}