.topnav {
  list-style-type: none;
  padding: 0px 10px;
  margin: 0;
  border-top: 5px solid @isam-blue;
  right: 0;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid @isam-blue;
  li {
    display: none;
    &.icon {
      float: right;
      display: inline-block;
      cursor: pointer;
      font-size: 35px;
      color: #000;
      margin-top: 15px;
    }
    &.logo-sm {
      display: inline-block;
      padding: 10px 0;
    }
    a {
      &:hover, &.current {
        color: @isam-blue;
      }
    }
  }
  &.responsive {
    position: relative;
    li {
      float: none;
      display: block;
      padding-top: 2px;
      &.icon {
        position: absolute;
        right: 10px;
        top: 0;
        padding: 0;
        color: @isam-blue;
      }
      &.logo {
        display: none;
      }
      &.logo-sm {
        display: none;
      }
    }
    a {
      display: inline-block;
      text-align: left;
      &:hover, &.current {
        color: @isam-blue;
      }
    }
  }
}
@media @tablet {
  .topnav {
    padding: 10px 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    border-bottom: 0;
    li {
      display: inline-block;
      margin: 0 30px;
      vertical-align: middle;
      line-height: normal;  
      a {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 300;
      }
      &.logo {
        margin: 0 40px;
      }
      &.icon {
        display: none;
      }
      &.logo-sm {
        display: none;
      }
    }
  }
}
@media @desktop {
  .topnav {
    li.logo {
      margin: 0 80px;
    }
  }
}