{% extends 'base.html.twig' %}

{% block body %}
  <section class="gallery">
    <ul class="grid" id="grid">
      {% for item in paintings %}
        <li class="grid-item">
          <div class="image">
            <img class="img" src="/upload/paintings/{{ item.filename }}">
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}