{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <section class="gallery">
    <ul>
      {% for item in series %}
        <li class="col-xs-12 col-md-4 col-lg-3">
          <a class="serie" href="{{ path('galerie_view', {'id': item.id}) }}">
            <img class="img" src="/upload/paintings/{{ item.paintings[random(item.paintings|length - 1)].filename }}">
            {{item.name}}
            <div class="overlay">
              <div class="text">Voir la série</div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}