{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <section class="gallery_view">
    <!--<a href="{{ path('galerie') }}">< Retour à la liste des séries</a>-->
    <br>
    <ul class="grid" id="grid">
      {% for item in paintings %}
        <li class="grid-item">
          <div class="image">
            <img class="img" src="/upload/paintings/{{ item.filename }}">
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
  <div class="gallery-modal">
    <span class="close">&times;</span>
    <img class="gallery-modal-content" />
    <!--ul class="imgs" id="imgs">
        {% for item in paintings %}
          <li class="imgs-item">
            <img class="img" src="/upload/paintings/{{ item.filename }}">
          </li>
        {% endfor %}
      </ul-->
  </div>
{% endblock %}