{% extends 'base.html.twig' %}

{% block body %}
  <section class="gallery">
    <ul class="grid effect-1" id="grid">
      {% for item in paintings %}
        <li class="grid-item">
          <div class="image">
            <img class="img" src="/upload/paintings/{{ item.filename }}">
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/gallery.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/modal.js')}}"></script>
  <script>
    new AnimOnScroll(document.getElementById( 'grid' ), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
    });

    new Modal('.grid-item');
  </script>
{% endblock %}
