<div class="footer">
  <p>Isabelle MARANDON - 96 rue Marius et Ary Leblond, Saint-Pierre, La Réunion - isam.reunion@yahoo.fr - 06 93 46 89 43</p>
  <a class="admin" href="{{ path('admin_default_index') }}" target="blank"></a>
</div>
