{% extends 'base.html.twig' %}

{% block body %}
<div class="bio">
  <div class="img col-lg-5"><img src="/upload/bio/{{ bio.filename }}" /></div>
  <div class="desc col-lg-6">{{ bio.description }}</div>
  <div class="col-lg-5">
    Lorem ipsum dolor sit amet, admodum noluisse senserit sea te, in mea option maiorum, sea error corpora ne. Usu modo laoreet eu. Usu erat ceteros phaedrum at. Has posse aeterno an, eu vim omnium corpora facilisis, ea illud feugait similique eos. Ex mei ipsum nulla, has ne platonem consequuntur.

Pro id sanctus splendide accommodare, mei nihil consectetuer ea. His ex perpetua intellegat, atqui nonumy et cum. Interesset adversarium an eam. Putent verterem has cu, no nec nostrud salutatus definitiones. Usu et legere sanctus, ea ius commune salutandi reprehendunt, ei vix odio iuvaret lucilius.

Agam rebum ad sed. Vidisse lobortis conclusionemque et ius, has ex impetus principes. Sit ut movet nihil, dico primis no eum, eu his nibh iuvaret menandri. Scaevola pericula consetetur no has. Ei primis graecis mei, qui ut laudem labores. Te vel facete alienum cotidieque.

At sea alia habemus omittam, et usu placerat oportere expetendis, no vis debitis disputationi. Cum dictas viderer cu, idque iracundia vim ex. Ea mel diam clita euripidis. Ut quando splendide est, in quis oratio vis, utinam omnium efficiendi duo an. Eu mea mazim phaedrum repudiare. Has te quodsi integre luptatum. Id sed velit suscipit, nam ei diceret verterem, vel error elaboraret intellegam te.

Vim atqui melius gubergren ea, duo ea homero impedit appellantur. Ea nihil vitae qui, cu partem platonem mel. Ius apeirian inimicus dissentias at, in his facilisi percipitur. Vim eu labitur facilisi phaedrum, sed ex nemore periculis, ad quot noster oblique duo. Nam volutpat elaboraret definitiones ut, sed te quidam incorrupte interpretaris. Diam repudiandae pro ut, ex placerat perfecto contentiones per. At mei prodesset sententiae, ius te quidam graeco deterruisset.
  </div>
</div>
{% endblock %}