{% extends 'base.html.twig' %}

{% block body %}
<div class="bio clearfix">
  <div class="img col-lg-6"><img src="/upload/bio/{{ bio.filename }}" /></div>
  <div class="desc col-lg-6">{{ bio.description | raw }}</div>
</div>
{% endblock %}